<body id="profileBody">
  

  <div class="container">
    <div class="row">
      <div class="col">
        <div class="card text-white bg-dark" style="width: 18rem;">
          <img class="card-img-top" src="{{picture}}" alt="user image profile">
          <div class="card-body">
            <h5 class="card-title">USER: {{name}}</h5>
            <p class="card-text">Wana change your profile pic, click below</p>
            <form action="/profile-picture" enctype="multipart/form-data" method="post">

              <input type="file" name="image" id="imageURL" />
              <input type="submit" id="submit" />
            </form>
          </div>
        </div>
      </div>
      <div class="col">
        <h5>Wana change your data? do it below</h5>
        <form action="/editProfile" method="post">
          {{#if errorMessage}}
            <div class="alert alert-danger" role="alert">
              {{errorMessage}}
            </div>
          {{/if}}
          <div class="form-group">
            <label for="exampleInputEmail1">Name</label>
            <input type="text" name="name" class="form-control" id="" aria-describedby="emailHelp" value="{{name}}">
          </div>
          <div class="form-group">
            <label for="exampleInputEmail1">Email address</label>
            <input type="email" name="email" class="form-control" id="" aria-describedby="emailHelp" value="{{email}}">
            <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
          </div>
          <div class="form-group">
            <label for="exampleInputPassword1">Password</label>
            <input type="password" name="password" class="form-control" id="">
          </div>
          <button type="submit" class="btn btn-primary">Change my info</button>
        </form>
        <br>
        <!-- Button trigger modal -->

          <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#exampleModal">
            Delete Profile
          </button>

        <!-- Modal -->
        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel"  style="color:black">Delete user</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body" style="color:black">
                Do you reeeeally want too that?
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <a href="/deleteProfile"><button type="button" class="btn btn-primary">Delete me</button></a>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <a href="/logout"><button type="button" class="btn btn-dark">logout</button>
  </a>

  <script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>
  <script type="text/javascript">
    $("#submit").hide();
    $("#imageURL").on("change", function() {
      $("#submit").show();
    })
  </script>

</body>
